*{
  margin: 0;
  padding: 0;
}
h1{
    text-align: center;
}
.card{
     margin: 0 auto;
     max-width: 379px;
    text-align:center;
     margin-top: 10px;
     box-shadow: 0 4px 8px rgb(62, 62, 73);
     transition: 0 3s;
}
.card:hover{
        box-shadow: 0 16px 32px rgb(37, 215, 126);

}
.calcu-head #result{
       width: 340px;
        height: 60px;
      font-size:30px;
   font-weight: bold;
   text-align: right;
   padding:5px ;
   letter-spacing: 2PX;
  border: 60px;
  background-color: rgb(154, 48, 71);
}

.calcu-body{
     width: 379px;      
    height: 200px ;
    font-weight: bold;
    font-size:20px;
    background-color: black;
    color: azure;

}


.btn{
    width:90px;      
   height:40px ;
   font-weight: bold;
   font-size:16px;
   background-color: rgb(28, 2, 2);
   color: rgb(239, 228, 233);

}
.btn:hover{
     background-color: aqua;
}



.btn-style{
     background-color: rgb(140, 137, 182);
}




